<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/masters/remarkEdit"
    [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<form [formGroup]="mform">

  <div class="page-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Name</label>
          <div class="col-sm-8">
            <app-input maxlength="100" formControlName="rem_name" [case]="'UPPER'" required></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-sm table-hover table-bordered table-striped table-condensed">
          <thead class="table-success">
            <tr class="table-header">
              <th>ID</th>
              <th>Description</th>
              <th>ORDER</th>
              <th>ADD</th>
              <th>DELETE</th>
            </tr>
          </thead>

          <tbody formArrayName="rem_remarks">
            <tr *ngFor="let iRow of formArray('rem_remarks').controls; let i=index;" [formGroupName]="i">
              <td>
                <label>{{iRow.get('remd_id')?.value}}</label>
              </td>

              <td>
                <app-input maxlength="100" formControlName="remd_desc1" [rowIndex]="i" name="remd_desc1"
                  case="UPPER"></app-input>
              </td>
              <td>
                <app-input maxlength="100" formControlName="remd_order" [rowIndex]="i" name="remd_order"
                  case="UPPER"></app-input>
              </td>

              <td align="centre" (click)="addDetails()" class="link">
                <i class="fa fa-plus"></i>
              </td>

              <td align="centre" (click)="deleteRow(i)" class="link">
                <i class="fa fa-trash"></i>
              </td>

            </tr>
          </tbody>
        </table>

      </div>

    </div>


    <div class="row" *ngIf="formArray('cust_contacts').length <= 0">
      <div class="col-sm-12 text-center">
        <button class="btn btn-sm btn-info" (click)="addDetails()" [disabled]="mform.invalid">Add Contact</button>
      </div>
    </div>

  </div>


</form>


<div class="page-footer line-bottom">
  <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()" [disabled]="mform.invalid">Save</button>
</div>


<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>