<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h5>{{title}}</h5>
      <app-history [inputdata]="{table: 'cargo_housem', id:id}"></app-history>
      <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
    </div>

    <form [formGroup]="mform">

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">House #</label>
              <div class="col-sm-8">
                <app-input formControlName="hbl_houseno" [case]="'UPPER'" id="hbl_houseno" name="hbl_houseno"
                  maxlength="30" ></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref #</label>
              <div class="col-sm-8">
                <app-input formControlName="hbl_mbl_refno" [case]="'UPPER'" id="hbl_mbl_refno" name="hbl_mbl_refno"
                  maxlength="30" [disable]="true"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Stage</label>
                <div class="col-sm-8">
                  <app-input maxlength="60" formControlName="hbl_shipment_stage_name" [case]="'UPPER'" id="hbl_shipment_stage_name"
                    name="hbl_shipment_stage_name" [disable]="true"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Shipper</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_shipper_code" id="hbl_shipper_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_shipper_name" id="hbl_shipper_name"
                  name="hbl_shipper_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add1" [case]="'UPPER'" id="hbl_shipper_add1"
                  name="hbl_shipper_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add2" [case]="'UPPER'" id="hbl_shipper_add2"
                  name="hbl_shipper_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add3" [case]="'UPPER'" id="hbl_shipper_add3"
                  name="hbl_shipper_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add4" [case]="'UPPER'" id="hbl_shipper_add4"
                  name="hbl_shipper_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add5" [case]="'UPPER'" id="hbl_shipper_add5"
                  name="hbl_shipper_add5"></app-input>
              </div>
            </div>
            <!--add-->
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Consignee</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_consignee_code" id="hbl_consignee_code"
                  (CallBack)="callBack($event)" [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_consignee_name" id="hbl_consignee_name"
                  name="hbl_consignee_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add1" [case]="'UPPER'" id="hbl_consignee_add1"
                  name="hbl_consignee_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add2" [case]="'UPPER'" id="hbl_consignee_add2"
                  name="hbl_consignee_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add3" [case]="'UPPER'" id="hbl_consignee_add3"
                  name="hbl_consignee_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add4" [case]="'UPPER'" id="hbl_consignee_add4"
                  name="hbl_consignee_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add5" [case]="'UPPER'" id="hbl_consignee_add5"
                  name="hbl_consignee_add5"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Notify</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_notify_code" id="hbl_notify_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_notify_name" id="hbl_notify_name" name="hbl_notify_name"
                  [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add1" [case]="'UPPER'" id="hbl_notify_add1"
                  name="hbl_notify_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add2" [case]="'UPPER'" id="hbl_notify_add2"
                  name="hbl_notify_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add3" [case]="'UPPER'" id="hbl_notify_add3"
                  name="hbl_notify_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add4" [case]="'UPPER'" id="hbl_notify_add4"
                  name="hbl_notify_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">C/O</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_careof_name" id="hbl_careof_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Cargo Location</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_location_code" id="hbl_location_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_location_name" id="hbl_location_name"
                  name="hbl_location_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_location_add1" [case]="'UPPER'" id="hbl_location_add1"
                  name="hbl_location_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_location_add2" [case]="'UPPER'" id="hbl_location_add2"
                  name="hbl_location_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_location_add3" [case]="'UPPER'" id="hbl_location_add3"
                  name="hbl_location_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_location_add4" [case]="'UPPER'" id="hbl_location_add4"
                  name="hbl_location_add4"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Agent</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_agent_name" id="hbl_agent_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">CHB</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_cha_code" id="hbl_cha_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_cha_name" id="hbl_cha_name" name="hbl_cha_name"
                  [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_cha_attn" [case]="'UPPER'" id="hbl_cha_attn"
                  name="hbl_cha_attn"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_cha_tel" [case]="'UPPER'" id="hbl_cha_tel"
                  name="hbl_cha_tel"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_cha_fax" [case]="'UPPER'" id="hbl_cha_fax"
                  name="hbl_cha_fax"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Place Delivery</label>
              <div class="col-sm-3">
                <app-input maxlength="50" formControlName="hbl_place_delivery" [case]="'UPPER'" id="hbl_place_delivery"
                  name="hbl_place_delivery"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Date</label>
              <div class="col-sm-3">
                <app-date formControlName="hbl_pld_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Final.Destination</label>
              <div class="col-sm-3">
                <app-input maxlength="50" formControlName="hbl_place_final" [case]="'UPPER'" id="hbl_place_final"
                  name="hbl_place_final"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Date</label>
              <div class="col-sm-3">
                <app-date formControlName="hbl_plf_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT Shipment</label>
              <div class="col-sm-3">
                <app-checkbox formControlName="hbl_is_itshipment"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT.No.</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_it_no" [case]="'UPPER'" id="hbl_it_no"
                  name="hbl_it_no"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT.Port</label>
              <div class="col-sm-3">
                <app-input maxlength="50" formControlName="hbl_it_port" [case]="'UPPER'" id="hbl_it_port"
                  name="hbl_it_port"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">IT.Date</label>
              <div class="col-sm-3">
                <app-date formControlName="hbl_it_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pkgs</label>
              <div class="col-sm-3">
                <app-input maxlength="100" formControlName="hbl_packages" [type]="'number'" name="hbl_packages"
                  id="hbl_packages"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Unit</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_uom_name" id="hbl_uom_name" name="hbl_uom_name"
                  fieldName="hbl_uom_name" (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">KG</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_weight" [type]="'number'" name="hbl_weight" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">LBS</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_lbs" [type]="'number'" name="hbl_lbs" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">CBM</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_cbm" [type]="'number'" name="hbl_cbm" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">CFT</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_cft" [type]="'number'" name="hbl_cft" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Description</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_commodity" [case]="'UPPER'" name="hbl_commodity"
                  id="hbl_commodity"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Frt.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_frt_status_name" name="hbl_frt_status_name"
                  [dataSource]="frtList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Terms</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_ship_term_name" id="hbl_ship_term_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'CARGO-MOVEMENT'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Client.Type</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_bltype" name="hbl_bltype" [dataSource]="clientList"
                  [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Inco Terms</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_incoterm_name" id="hbl_incoterm_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'INCOTERM'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">PO#</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_pono" [case]="'UPPER'" name="hbl_pono"
                  id="hbl_pono"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Invoice#</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_invoiceno" [case]="'UPPER'" name="hbl_invoiceno"
                  id="hbl_invoiceno"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">AMS.File#</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_ams_fileno" [case]="'UPPER'" name="hbl_ams_fileno"
                  id="hbl_ams_fileno"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">SubHouse</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_sub_house" [case]="'UPPER'" name="hbl_sub_house"
                  id="hbl_sub_house"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IFS.No.</label>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_isf_no" [case]="'UPPER'" name="hbl_isf_no"
                  id="hbl_isf_no"></app-input>
              </div>
              <div class="col-sm-3">
                <!-- <button class="btn btn-sm btn-success w-100 mb-1">Upload</button> -->
                <app-fileupload *ngIf="gs.IsUserRightsExits('SEA-IMP-ATTACHMENT')"
                  [inputdata]="{mode:'add', id:id, parent_type: 'SEA IMPORT ISF',
                  rec_files_attached: mform.get('hbl_isf_attached')?.value}" [button_name]="'Upload'"></app-fileupload>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Telex Released</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_telex_released_name" id="hbl_telex_released_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'TELEX-RELEASE'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <!-- <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_telex_released" name="hbl_telex_released"
                  [dataSource]="telexRelList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div> -->
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Moved By DAD</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_mov_dad" name="hbl_mov_dad" [dataSource]="MovdadList"
                  [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">B/L Req.</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_bl_req" [case]="'UPPER'" name="hbl_bl_req"
                  id="hbl_bl_req"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Booking#</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_book_slno" [case]="'UPPER'" name="hbl_book_slno"
                  id="hbl_book_slno"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Packing List</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="hbl_is_pl"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Commercial Invoice</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="hbl_is_ci"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Carrier AN</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="hbl_is_carr_an"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Customs.Release.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_custom_reles_status" name="hbl_custom_reles_status"
                  [dataSource]="customRelList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Customs.Clear.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_custom_clear_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Delivery Status</label>
              <div class="col-sm-3">
                <app-combobox maxlength="30" formControlName="hbl_is_delivery" name="hbl_is_delivery"
                  [dataSource]="DeliveryList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
              <div class="col-sm-5">
                <!-- <button class="btn btn-sm btn-success w-100 mb-1">Upload OHBL Or Telex RLS Copy</button> -->
                <app-fileupload *ngIf="gs.IsUserRightsExits('SEA-IMP-ATTACHMENT')"
                  [inputdata]="{mode:'add', id:id, parent_type: 'SEA IMPORT TELEX',
                  rec_files_count: mform.get('rec_telex_count')?.value, rec_files_attached: mform.get('rec_telex_attached')?.value}" [button_name]="'Upload OHBL Or Telex RLS Copy'"></app-fileupload>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Paid.Status</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_paid_status_name" id="hbl_paid_status_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'PAID_STATUS'" [company_id]="getCompanyId()"
                  [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_paid_remarks" [case]="'UPPER'" name="hbl_paid_remarks"
                  id="hbl_paid_remarks"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">B/L.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_bl_status" name="hbl_bl_status"
                  [dataSource]="BlStatuslList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Frt.Release.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_cargo_release_status" name="hbl_cargo_release_status"
                  [dataSource]="frtStatuslList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm table-hover table-bordered table-striped table-condensed">

              <thead class="table-success">
                <tr class="table-header">
                  <th *ngIf="showModel">ID</th>
                  <th>CNTR NO</th>
                  <th>TYPE</th>
                  <th>SEAL NO</th>
                  <th>PCS</th>
                  <th>UNIT</th>
                  <th>WEIGHT</th>
                  <th>CBM</th>
                  <th>DISCHARGE</th>
                  <th>LFD</th>
                  <th>PICKUP</th>
                  <th>EMPTY RETURN</th>
                  <!-- <th>MOVEMENT</th> -->
                  <th *ngIf="showModel">ORDER </th>
                  <th>ADD</th>
                  <th>DELETE</th>
                </tr>
              </thead>

              <tbody formArrayName="house_cntr">
                <tr *ngFor="let iRow of formArray('house_cntr').controls; let i=index;" [formGroupName]="i">
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_id')?.value}}</label>
                  </td>
                  <td>
                    <app-input formControlName="cntr_no" [rowIndex]="i" name="cntr_no" case="UPPER"
                      maxlength="11"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_type_name" id="cntr_type_name-{{i}}" name="cntr_type_name"
                      fieldName="cntr_type" [rowIndex]="i" (CallBack)="callBack($event)" [table]="'param'"
                      [subtable]="'container-type'" [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_sealno" [rowIndex]="i" name="cntr_sealno" case="UPPER"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_pieces" [rowIndex]="i" name="cntr_pieces"
                      type="number"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_packages_unit_name" id="cntr_packages_unit_name-{{i}}"
                      name="cntr_packages_unit_name" fieldName="cntr_packages_unit_name" [rowIndex]="i"
                      (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                      [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_weight" [rowIndex]="i" name="cntr_weight"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_cbm" [rowIndex]="i" name="cntr_cbm"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-date formControlName="cntr_discharge_date" [rowIndex]="i" name="cntr_discharge_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_lfd" [rowIndex]="i" name="cntr_lfd"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_pick_date" [rowIndex]="i" name="cntr_pick_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_return_date" [rowIndex]="i" name="cntr_return_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_order')?.value}}</label>
                  </td>
                  <td align="centre" (click)="addCntr()" class="link">
                    <i class="fa fa-plus"></i>
                  </td>
                  <td align="centre" (click)="deleteRow(i)" class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row" *ngIf="formArray('house_cntr').length <= 0">
          <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-info mb-2" type="button" (click)="addCntr()">Add Container</button>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-8 form-label form-lable-sm" for="">Marks & Nos</label>
            </div>
            <div formGroupName="marks1">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks2">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks3">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks4">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks5">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks6">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks7">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks8">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks9">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks10">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks11">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks13">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks14">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks15">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks16">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks17">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_mark" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-8 form-label form-lable-sm" for="">Description of Commodity</label>
            </div>
            <div formGroupName="marks1">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks2">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks3">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks4">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks5">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks6">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks7">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks8">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks9">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks10">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks11">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks13">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks14">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks15">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks16">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
            <div formGroupName="marks17">
              <div class="form-group row">
                <div class="col-sm-12">
                  <app-input maxlength="100" formControlName="desc_description" [case]="'UPPER'" name="desc_mark"
                    id="desc_mark"></app-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Remarks</label>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="hbl_remark1" [case]="'UPPER'" name="hbl_remark1"
                  id="hbl_remark1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="hbl_remark2" [case]="'UPPER'" name="hbl_remark2"
                  id="hbl_remark2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="hbl_remark3" [case]="'UPPER'" name="hbl_remark3"
                  id="hbl_remark3"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">A/N.Handled.By</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_handled_name" id="hbl_handled_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Sales Rep.</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_salesman_name" id="hbl_salesman_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">Last.Free.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_lfd_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">G.O.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_go_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">PickUp.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_pickup_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">Empty.Return.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_empty_ret_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">Actual.Delivery.Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_delivery_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </form>
    <div class="page-footer line-bottom">
      <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()"
        [disabled]="mform.invalid">Save</button>
    </div>
  </div>

  <div class="col-sm-2" *ngIf="mode=='edit'">
    <div class="page-body line-bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-grid gap-1">
            <button class="btn btn-success btn-sm">ARRIVAL NOTICE</button>
            <button class="btn btn-success btn-sm">ARRIVAL NOTICE(FRT INVOICE)</button>
            <button class="btn btn-success btn-sm">PRE-ADVISE</button>
            <button class="btn btn-success btn-sm">TURNOVER LETTER</button>
            <button *ngIf="gs.IsUserRightsExits('SEA-IMPORT-H-DO')" class="btn btn-success btn-sm" routerLink="/common-shipment/deliveryorderEdit"
              [queryParams]="{mode: 'add', menuid:'SEA-IMPORT-H-DO', type:'SEA-IMPORT-H-DO', appid: appid, parent_id: mform.get('hbl_id')?.value, parent_type:'SEA-IMPORT-H'}">DELIVERY ORDER</button>
            <button *ngIf="gs.IsUserRightsExits('CUSTOM-HOLD')" class="btn btn-success btn-sm" routerLink="/common-shipment/customholdEdit" 
              [queryParams]="{mode: 'add', menuid:'CUSTOM-HOLD', type: 'CUSTOM-HOLD', appid: appid, parent_id: mform.get('hbl_id')?.value}">US CUSTOM HOLD</button>
            <button *ngIf="gs.IsUserRightsExits('SEA-IMP-H-DEVAN')" class="btn btn-success btn-sm" routerLink="/common-shipment/devaninstEdit"
              [queryParams]="{ id:0, mode: 'add', menuid:'SEA-IMP-H-DEVAN', type: 'SEA-IMP-H-DEVAN', appid: appid, parent_id: mform.get('hbl_id')?.value,parent_type: mform.get('hbl_mode')?.value}">DEVAN / INSTRUCTIONS</button>
            <button *ngIf="gs.IsUserRightsExits('SEA-IMP-H-MEMO')" class="btn btn-sm" [ngClass]="(mform.get('rec_memo_attached')?.value === 'Y') ? 'btn-danger' : 'btn-success'" 
              routerLink="/common-shipment/memoEdit" [queryParams]="{ id:0, mode: 'add',menuid:'SEA-IMP-H-MEMO', type: 'SEA-IMP-H-MEMO', appid: appid, parent_id: mform.get('hbl_id')?.value,parent_type:'SEAIMP-SHIP-MEMO'}">HOUSE INTERNAL MEMO
              <span *ngIf="!!mform.get('rec_memo_count')?.value">({{ mform.get('rec_memo_count')?.value }})</span> </button>
            <app-genmemo *ngIf="gs.IsUserRightsExits('SEA-IMP-RIDER')" [inputdata]="{id:id, parent_type: mform.get('hbl_mode')?.value ,menuid:'SEA-IMP-RIDER', type: 'SEA-IMP-RIDER', appid: appid}" [button_name]="'RIDER PAGE'"></app-genmemo>
            <button class="btn btn-success btn-sm">PRODUCTS</button>
            <button *ngIf="bAdd || bEdit"  class="btn btn-success btn-sm"(click)="save()"
              [disabled]="mform.invalid">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-footer line-bottom">
  <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()" [disabled]="mform.invalid">Save</button>
</div> -->


<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>