<form [formGroup]="mform">
  <div class="row">
    <div class="col-sm-10">
      <div class="page-header">
        <h5>{{title}}</h5>
        <button *ngIf="bAdd" class="btn btn-sm btn-success" type="button" routerLink="/airimport/airimportEdit"
          [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
        <app-history [inputdata]="{table: 'cargo_masterm', id:id}"></app-history>
        <button class="btn btn-success btn-sm" type="button" (click)="return2Parent()">Return</button>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref No</label>
              <div class="col-sm-8">
                <app-input maxlength="15" formControlName="mbl_refno" [disable]="true"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref Date</label>
              <div class="col-sm-8">
                <app-date formControlName="mbl_ref_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Stage</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_shipment_stage_name" name="mbl_shipment_stage_name"
                  id="mbl_shipment_stage_name" (CallBack)="callBack($event)" table="param" subtable="SHIPSTAGE AE"
                  [company_id]="getCompanyId()" [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Mawb#</label>
              <div class="col-sm-8">
                <app-input maxlength="11" formControlName="mbl_no" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Master Agent</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_agent_name" id="mbl_agent_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url" [filter]="{cust_is_parent : 'Y'}"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Carrier</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_liner_name" name="mbl_liner_name" id="mbl_liner_name"
                  (CallBack)="callBack($event)" table="param" subtable="SEA CARRIER" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">POL</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_pol_name" name="mbl_pol_name" id="mbl_pol_name"
                  (CallBack)="callBack($event)" table="param" subtable="AIR-PORT" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETD</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_pol_etd" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">POD</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_pod_name" name="mbl_pod_name" id="mbl_pod_name"
                  (CallBack)="callBack($event)" table="param" subtable="AIR-PORT" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETA</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_pod_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Origin.Country</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_country_name" name="mbl_country_name" id="mbl_country_name"
                  (CallBack)="callBack($event)" table="param" subtable="COUNTRY" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Flight No</label>
              <div class="col-sm-8">
                <app-input maxlength="15" formControlName="mbl_vessel_name" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Frt.Status</label>
              <div class="col-sm-8">
                <app-combobox [dataSource]="dataList" [valueColumn]="'key'" [displayColumn]="'value'"
                  formControlName="mbl_frt_status_name"></app-combobox>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Inco Term</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_incoterm" name="mbl_incoterm" id="mbl_incoterm"
                  (CallBack)="callBack($event)" table="param" subtable="INCOTERM" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Gr.Wt</label>
              <div class="col-sm-8">
                <app-input formControlName="mbl_mawb_weight" type="number"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Ch.Wt</label>
              <div class="col-sm-8">
                <app-input formControlName="mbl_mawb_chwt" type="number"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Handled By</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_handled_name" name="mbl_handled_name" id="mbl_handled_name"
                  (CallBack)="callBack($event)" table="param" subtable="SALESMAN" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Salesman</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_salesman_name" name="mbl_salesman_name" id="mbl_salesman_name"
                  (CallBack)="callBack($event)" table="param" subtable="SALESMAN" [company_id]="getCompanyId()"
                  [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Cargo Location</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_cargo_loc_code" name="mbl_cargo_loc_code" id="mbl_cargo_loc_code"
                  (CallBack)="callBack($event)" table="customerm" [company_id]="getCompanyId()" [url]="url" case="upper"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Name</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_name" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Address</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_add1" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm"></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_add2" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm"></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_add3" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm"></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_add4" [case]="'UPPER'"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row" *ngIf="mode=='edit'">
              <label class="col-sm-6 form-label form-label-sm"><button class="btn btn-success btn-sm my-1"
                  type="button">Copy Cargo Location To All Houses</button></label>
              <div class="col-sm-6 gap-1">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body" *ngIf="mode=='edit'">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-sm table-hover table-bordered table-striped table-condensed">
              <thead class="table-success">
                <tr class="table-header">
                  <th>EDIT</th>
                  <th *ngIf="showModel">ID</th>
                  <th>HOUSE</th>
                  <th>SHIPPER</th>
                  <th>CONSIGNEE</th>
                  <th>PCS</th>
                  <th>HANDLED BY</th>
                  <th>ETD</th>
                  <th>ETA</th>
                  <th>CREATED-BY</th>
                  <th>CREATED DATE</th>
                  <th>DELETE</th>
                </tr>
              </thead>
              <tbody formArrayName="air_import">
                <tr *ngFor="let iRow of formArray('air_import').controls; let i=index;" [formGroupName]="i">
                  <td align="centre" class="link" routerLink="/airimport/airimporthEdit"
                    [queryParams]="{id :iRow.get('hbl_id')?.value ,mode:'edit',menuid:'AIRIMPORTH',type:'AIRIMPORTH',appid:appid,mbl_id:mform.get('mbl_id')?.value}">
                    <!-- (click)="editdetails(i)"  -->
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td *ngIf="showModel">
                    <label>{{iRow.get('hbl_id')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_houseno')?.value}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('hbl_shipper_name')?.value}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('hbl_consignee_name')?.value}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('hbl_packages')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_handled_name')?.value}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('hbl_pickup_date')?.value | date:
                      gs.globalConstants.global_display_date_format}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('hbl_delivery_date')?.value | date:
                      gs.globalConstants.global_display_date_format}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('rec_created_by')?.value}}</label>
                  </td>

                  <td>
                    <label>{{iRow.get('rec_created_date')?.value |
                      date:gs.globalConstants.global_output_datetime_format}}</label>
                  </td>

                  <td align="centre" (click)="deleteRow(i,iRow.get('hbl_houseno')?.value,iRow.get('hbl_id')?.value)"
                    class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="page-footer line-bottom">
          <div class="row">
            <div class="col-sm-12" *ngIf="mode=='edit'">
              <button class="btn btn-sm btn-success" *ngIf="{mode:'add'}" routerLink="/airimport/airimporthEdit"
                type="button"
                [queryParams]="{id : 0 ,mode:'add', menuid:'AIRIMPORTH', type:'AIRIMPORTH', appid: appid, mbl_id: mform.get('mbl_id')?.value}">Add
                House</button>
            </div>
          </div>
        </div>
      </div>
      <div class="page-footer line-bottom">
        <div class="row">
          <div class="col-sm-12">
            <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" type="button" (click)="save()"
              [disabled]="mform.invalid">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2" *ngIf="mode=='edit'">
      <div class="page-body line-bottom">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-grid gap-1">
              <button class="btn btn-success btn-sm">PRINT MAWB</button>
              <button class="btn btn-success btn-sm">MANIFEST</button>
              <button class="btn btn-success btn-sm">AR & AP</button>
              <button class="btn btn-success btn-sm">PROFIT REPORT</button>
              <button class="btn btn-success btn-sm">SHIPMENT LABEL</button>
              <button class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/messengerslipDetList"
                [queryParams]="{id : 0 ,mode:'add', menuid:'MESSENGER-SLIP', type:'MESSENGER-SLIP', appid: appid,
                parent_id: mform.get('mbl_id')?.value,parent_type:mform.get('mbl_mode')?.value}">MESSENGER
                SLIP</button>
              <button class="btn btn-success btn-sm">PAYMENT REQUEST</button>
              <app-fileupload
                [inputdata]="{mode:'add', id:id, parent_type: 'AIR IMPORT', rec_files_count: mform.get('rec_files_count')?.value, rec_files_attached: mform.get('rec_files_attached')?.value}"></app-fileupload>
              <button class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/followupEdit"
                [queryParams]="{id : 0 ,mode:'add', menuid:'FOLLOWUP', type:'FOLLOWUP', appid: appid, parent_id: mform.get('mbl_id')?.value, parent_type:mform.get('mbl_mode')?.value}">ADD
                TO FOLLOW UP</button>
              <button class="btn btn-success btn-sm" routerLink="/common-shipment/memoEdit"
                [queryParams]="{ id:0, parent_id: mform.get('mbl_id')?.value,parent_type:'AIRIMP-CNTR-MEMO', mode: 'add',menuid:'MEMO', type: 'MEMO', appid: appid}">INTERNAL
                MEMO</button>
              <button class="btn btn-success btn-sm">REQUEST FOR APPROVAL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>
<!-- d-flex justify-content-start -->