<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/admin/menuEdit"
    [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<form [formGroup]="mform">

  <div class="page-body">

    <div class="row">

      <div class="col-sm-6">

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Menu Code</label>
          <div class="col-sm-8">
            <app-input formControlName="menu_code" [case]="'UPPER'" required maxlength="20"></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Menu Name</label>
          <div class="col-sm-8">
            <app-input formControlName="menu_name" [case]="''" required maxlength="60"></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Menu Route</label>
          <div class="col-sm-8">
            <app-input maxlength="60" formControlName="menu_route" [case]="''" required maxlength="60"></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Menu Param</label>
          <div class="col-sm-8">
            <app-input maxlength="100" formControlName="menu_param" [case]="''" maxlength="100"></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Module</label>
          <div class="col-sm-8">
            <auto-complete formControlName="menu_module_name" (CallBack)="callBack($event)" [table]="'modulem'"
              [company_id]="getCompanyId()" [url]="url"
              display_column="[{'caption':'code','value':'module_id'},{'caption':'name','value':'module_name'}]"
              required></auto-complete>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Sub Menu</label>
          <div class="col-sm-8">
            <auto-complete formControlName="menu_submenu_name" (CallBack)="callBack($event)" [table]="'submenu'"
              [company_id]="getCompanyId()" [url]="url"
              display_column="[{'caption':'code','value':'module_id'},{'caption':'name','value':'module_name'}]"></auto-complete>
          </div>
        </div>

        <div class="form-group row">
          <label class="form-label form-label-sm col-sm-4">Visible</label>
          <div class="col-sm-8">
            <app-checkbox formControlName="menu_visible"></app-checkbox>
            <label for="menu_visible" class="ms-1 form-label form-label-sm">Visible</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-label-sm" for="">Order</label>
          <div class="col-sm-8">
            <app-input type="number" maxlength="5" required formControlName="menu_order">
            </app-input>
          </div>
        </div>

      </div>

    </div>

  </div>

</form>




<div class="page-footer line-bottom">
  <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()" [disabled]="mform.invalid">Save</button>
</div>

<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>