<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h5>{{title}}</h5>
      <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/otherop/otheropEdit"
        [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
      <app-history [inputdata]="{table: 'cargo_masterm', id:id}"></app-history>
      <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
    </div>

    <form [formGroup]="mform">

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref #</label>
              <div class="col-sm-8">
                <app-input formControlName="oth_refno" [case]="'UPPER'" id="oth_refno" name="oth_refno" maxlength="15"
                  [disable]="true"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref Date</label>
              <div class="col-sm-8">
                <app-date formControlName="oth_ref_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Stage</label>
              <div class="col-sm-8">
                <auto-complete formControlName="oth_shipment_stage_name" id="oth_shipment_stage_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'shipstage oth'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]">
                </auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Mbl#</label>
              <div class="col-sm-8">
                <app-input maxlength="15" formControlName="oth_mbl_no" [case]="'UPPER'" id="oth_mbl_no"
                  name="oth_mbl_no"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Agent</label>
              <div class="col-sm-8">
                <auto-complete formControlName="oth_agent_name" id="oth_agent_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Carrier</label>
              <div class="col-sm-8">
                <auto-complete formControlName="oth_liner_name" id="oth_liner_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea carrier'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Handled By</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_handled_name" id="oth_handled_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Sales Rep.</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_salesman_name" id="oth_salesman_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Frt.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="10" formControlName="oth_mbl_frt_status" name="oth_mbl_frt_status"
                  [dataSource]="frtList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pol</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_pol_name" id="oth_pol_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea-port'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETD</label>
              <div class="col-sm-3">
                <app-date formControlName="oth_pol_etd" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Port.Discharge</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_pod_name" id="oth_pod_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea-port'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETA</label>
              <div class="col-sm-3">
                <app-date formControlName="oth_pod_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Destination</label>
              <div class="col-sm-3">
                <app-input maxlength="100" formControlName="oth_place_delivery" [case]="'UPPER'"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Country</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_country_name" id="oth_country_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'country'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Vessel / Flight No</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_vessel_name" id="oth_vessel_name" name="oth_vessel_name"
                  maxlength="50"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Voyage</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_voyage" id="oth_voyage" name="oth_voyage" case="UPPER"
                  maxlength="50"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Hbl#</label>
              <div class="col-sm-8">
                <app-input formControlName="oth_hbl_no" id="oth_hbl_no" name="oth_hbl_no" case="UPPER" maxlength="50">
                </app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Shipper</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_shipper_code" id="oth_shipper_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="oth_shipper_name" id="oth_shipper_name"
                  name="oth_shipper_name" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_shipper_add1" [case]="'UPPER'" id="oth_shipper_add1"
                  name="oth_shipper_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_shipper_add2" [case]="'UPPER'" id="oth_shipper_add2"
                  name="oth_shipper_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_shipper_add3" [case]="'UPPER'" id="oth_shipper_add3"
                  name="oth_shipper_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_shipper_add4" [case]="'UPPER'" id="oth_shipper_add4"
                  name="oth_shipper_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Consignee</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_consignee_code" id="oth_consignee_code"
                  (CallBack)="callBack($event)" [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="oth_consignee_name" id="oth_consignee_name"
                  name="oth_consignee_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_consignee_add1" [case]="'UPPER'" id="oth_consignee_add1"
                  name="oth_consignee_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_consignee_add2" [case]="'UPPER'" id="oth_consignee_add2"
                  name="oth_consignee_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_consignee_add3" [case]="'UPPER'" id="oth_consignee_add3"
                  name="oth_consignee_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_consignee_add4" [case]="'UPPER'" id="oth_consignee_add4"
                  name="oth_consignee_add4"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Client Type</label>
              <div class="col-sm-3">
                <app-combobox maxlength="30" formControlName="oth_bltype" name="oth_bltype" [dataSource]="clientList"
                  [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
              <label class="col-sm-2 form-label form-lable-sm">Frt.Status</label>
              <div class="col-sm-3">
                <app-combobox maxlength="10" formControlName="oth_hbl_frt_status" name="oth_hbl_frt_status"
                  [dataSource]="frtList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Description</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="oth_commodity" [case]="'UPPER'" name="oth_commodity"
                  id="oth_commodity"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IFS No.</label>
              <div class="col-sm-3">
                <app-input maxlength="100" formControlName="oth_isf_no" [case]="'UPPER'" name="oth_isf_no"
                  id="oth_isf_no"></app-input>
              </div>
            <!-- </div>
            <div class="form-group row"> -->
              <label class="col-sm-2 form-label form-lable-sm" for="">PCS</label>
              <div class="col-sm-3">
                <app-input maxlength="100" formControlName="oth_packages" [type]="'number'" name="oth_packages"
                  id="oth_packages"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Weight</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_weight" [type]="'number'" name="oth_weight" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">LBS</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_lbs" [type]="'number'" name="oth_lbs" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">CBM</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_cbm" [type]="'number'" name="oth_cbm" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">CFT</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_cft" [type]="'number'" name="oth_cft" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">CH.Weight</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_chwt" [type]="'number'" name="oth_chwt" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">LBS</label>
              <div class="col-sm-3">
                <app-input formControlName="oth_chwt_lbs" [type]="'number'" name="oth_chwt_lbs"
                  (blur)="findUnit($event)" [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Cargo Location</label>
              <div class="col-sm-3">
                <auto-complete formControlName="oth_location_code" id="oth_location_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="oth_location_name" id="oth_location_name"
                  name="oth_location_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_location_add1" [case]="'UPPER'" id="oth_location_add1"
                  name="oth_location_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_location_add2" [case]="'UPPER'" id="oth_location_add2"
                  name="oth_location_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_location_add3" [case]="'UPPER'" id="oth_location_add3"
                  name="oth_location_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="oth_location_add4" [case]="'UPPER'" id="oth_location_add4"
                  name="oth_location_add4"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Packing List</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="oth_is_pl"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Commercial Invoice</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="oth_is_ci"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Carrier AN</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="oth_is_carr_an"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Customs Release Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="oth_custom_reles_status" name="oth_custom_reles_status"
                  [dataSource]="customRelList" [valueColumn]="'key'" [displayColumn]="'value'"
                  case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Delivery Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="oth_is_delivery" name="oth_is_delivery"
                  [dataSource]="DeliveryList" [valueColumn]="'key'" [displayColumn]="'value'"
                  case="UPPER"></app-combobox>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-label-sm" for="">Last Free Date</label>
              <div class="col-sm-8">
                <app-date formControlName="oth_lfd_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT. No</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="oth_it_no" [case]="'UPPER'" id="oth_it_no"
                  name="oth_it_no"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT. Date</label>
              <div class="col-sm-8">
                <app-date formControlName="oth_it_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">IT. Port</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="oth_it_port" [case]="'UPPER'" id="oth_it_port"
                  name="oth_it_port"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm  table-hover table-bordered table-striped table-condensed">
              <thead class="table-success">
                <tr class="table-header">
                  <th *ngIf="showModel">ID</th>
                  <th>CNTR NO</th>
                  <th>TYPE</th>
                  <th>SEAL NO</th>
                  <th>PCS</th>
                  <th>UNIT</th>
                  <th>WEIGHT</th>
                  <th>CBM</th>
                  <th>DISCHARGE</th>
                  <th>LFD</th>
                  <th>PICKUP</th>
                  <th>EMPTY RETURN</th>
                  <th *ngIf="showModel">ORDER </th>
                  <th>ADD</th>
                  <th>DELETE</th>
                </tr>
              </thead>

              <tbody formArrayName="otherop_cntr">
                <tr *ngFor="let iRow of formArray('otherop_cntr').controls; let i=index;" [formGroupName]="i">
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_id')?.value}}</label>
                  </td>
                  <td>
                    <app-input formControlName="cntr_no" [rowIndex]="i" name="cntr_no" case="UPPER"
                      maxlength="11"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_type_name" id="cntr_type_name-{{i}}" name="cntr_type_name"
                      fieldName="cntr_type_name" [rowIndex]="i" (CallBack)="callBack($event)" [table]="'param'"
                      [subtable]="'container-type'" [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_sealno" [rowIndex]="i" name="cntr_sealno" case="UPPER"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_pieces" [rowIndex]="i" name="cntr_pieces"
                      type="number"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_packages_unit_name" id="cntr_packages_unit_name-{{i}}"
                      name="cntr_packages_unit_name" fieldName="cntr_packages_unit_name" [rowIndex]="i"
                      (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                      [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_weight" [rowIndex]="i" name="cntr_weight"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_cbm" [rowIndex]="i" name="cntr_cbm"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-date formControlName="cntr_discharge_date" [rowIndex]="i" name="cntr_discharge_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_lfd" [rowIndex]="i" name="cntr_lfd"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_pick_date" [rowIndex]="i" name="cntr_pick_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_return_date" [rowIndex]="i" name="cntr_return_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_order')?.value}}</label>
                  </td>
                  <td align="centre" (click)="addCntr()" class="link">
                    <i class="fa fa-plus"></i>
                  </td>
                  <td align="centre" (click)="deleteRow(i)" class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row" *ngIf="formArray('otherop_cntr').length <= 0">
          <div class="col-md-12 text-center mb-2">
            <button class="btn btn-sm btn-info" type="button" (click)="addCntr()">Add Container</button>
          </div>
        </div>
      </div>
    </form>


    <div class="page-footer line-bottom">
      <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()"
        [disabled]="mform.invalid">Save</button>
    </div>
  </div>

  <div class="col-sm-2" *ngIf="mode=='edit'">
    <div class="page-body line-bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-grid gap-1">
            <button *ngIf="gs.IsUserRightsExits('OTHEROP-DO')" class="btn btn-success btn-sm" routerLink="/common-shipment/deliveryorderDetList"
              [queryParams]="{id:0, menuid:'OTHEROP-DO', type: 'OTHEROP-DO', appid: appid, parent_id:mform.get('oth_id')?.value, parent_type:'OTHERS'}">DELIVERY ORDER</button>
            <button *ngIf="gs.IsUserRightsExits('OTHEROP-INVOICE')" class="btn btn-success btn-sm" type="button" routerLink="/accounts/invoicemList"
                [queryParams]="{id : 0, menuid:'OTHEROP-INVOICE', appid: appid, parent_id: mform.get('oth_id')?.value, parent_type:mform.get('oth_mode')?.value}">AR & AP</button>
            <button class="btn btn-success btn-sm">PROFIT REPORT</button>
            <button class="btn btn-success btn-sm">SHIPMENT LABEL</button>
            <button *ngIf="gs.IsUserRightsExits('OTHEROP-SLIP')" class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/messengerslipDetList"
              [queryParams]="{id : 0 ,mode:'add', menuid:'OTHEROP-SLIP', type:'OTHEROP-SLIP', appid: appid,parent_id: mform.get('oth_id')?.value,
              parent_type:mform.get('oth_mode')?.value}">MESSENGER SLIP</button>
            <app-fileupload *ngIf="gs.IsUserRightsExits('OTHEROP-ATTACHMENT')"
              [inputdata]="{mode:'add', id:id, parent_type:mform.get('oth_mode')?.value,
              rec_files_count: mform.get('rec_files_count')?.value, rec_files_attached: mform.get('rec_files_attached')?.value}" [button_name]="'ATTACHMENTS'"></app-fileupload>
            <button *ngIf="gs.IsUserRightsExits('OTHEROP-FOLLOWUP')" class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/followupEdit"
              [queryParams]="{id : 0 ,mode:'add', menuid:'OTHEROP-FOLLOWUP', type:'OTHEROP-FOLLOWUP', appid: appid, parent_id: mform.get('oth_id')?.value, parent_type:mform.get('oth_mode')?.value}">ADD TO FOLLOW UP</button>
            <button *ngIf="gs.IsUserRightsExits('OTHEROP-MEMO')" class="btn btn-sm"
              [ngClass]="(mform.get('rec_memo_attached')?.value === 'Y') ? 'btn-danger' : 'btn-success'" routerLink="/common-shipment/memoEdit"
              [queryParams]="{ id:0, mode: 'add',menuid:'OTHEROP-MEMO', type:'OTHEROP-MEMO', appid: appid, parent_id:mform.get('oth_id')?.value, parent_type:'OTH-CNTR-MEMO'}">INTERNAL MEMO
              <span *ngIf="!!mform.get('rec_memo_count')?.value">({{ mform.get('rec_memo_count')?.value }})</span> </button>
            <button class="btn btn-success btn-sm">REQUEST FOR APPROVAL</button>
            <button *ngIf="bAdd || bEdit" class="btn btn-success btn-sm" (click)="save()"
              [disabled]="mform.invalid">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>