<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h5>{{title}}</h5>
      <!-- <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/seaexport/seaexporthEdit"
    [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button> -->
      <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
      <app-history [inputdata]="{table: 'cargo_housem', id:id}"></app-history>
    </div>

    <form [formGroup]="mform">

      <div class="page-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">House #</label>
              <div class="col-sm-8">
                <app-input formControlName="hbl_houseno" [case]="'UPPER'" id="hbl_houseno" name="hbl_houseno"
                  maxlength="15" [disable]="true"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref #</label>
              <div class="col-sm-8">
                <app-input formControlName="hbl_mbl_refno" [case]="'UPPER'" id="hbl_mbl_refno" name="hbl_mbl_refno"
                  maxlength="15" [disable]="true"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Stage</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_shipment_stage_name" id="hbl_shipment_stage_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'shipstage oe'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]">
                </auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Shipper</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_shipper_code" id="hbl_shipper_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_shipper_name" id="hbl_shipper_name"
                  name="hbl_shipper_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add1" [case]="'UPPER'" id="hbl_shipper_add1"
                  name="hbl_shipper_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add2" [case]="'UPPER'" id="hbl_shipper_add2"
                  name="hbl_shipper_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add3" [case]="'UPPER'" id="hbl_shipper_add3"
                  name="hbl_shipper_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add4" [case]="'UPPER'" id="hbl_shipper_add4"
                  name="hbl_shipper_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_shipper_add5" [case]="'UPPER'" id="hbl_shipper_add5"
                  name="hbl_shipper_add5"></app-input>
              </div>
            </div>
            <!--add-->
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Consignee</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_consignee_code" id="hbl_consignee_code"
                  (CallBack)="callBack($event)" [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_consignee_name" id="hbl_consignee_name"
                  name="hbl_consignee_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add1" [case]="'UPPER'" id="hbl_consignee_add1"
                  name="hbl_consignee_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add2" [case]="'UPPER'" id="hbl_consignee_add2"
                  name="hbl_consignee_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add3" [case]="'UPPER'" id="hbl_consignee_add3"
                  name="hbl_consignee_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add4" [case]="'UPPER'" id="hbl_consignee_add4"
                  name="hbl_consignee_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_consignee_add5" [case]="'UPPER'" id="hbl_consignee_add5"
                  name="hbl_consignee_add5"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Notify</label>
              <div class="col-sm-3">
                <auto-complete formControlName="hbl_notify_code" id="hbl_notify_code" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="hbl_notify_name" id="hbl_notify_name" name="hbl_notify_name"
                  [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add1" [case]="'UPPER'" id="hbl_notify_add1"
                  name="hbl_notify_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add2" [case]="'UPPER'" id="hbl_notify_add2"
                  name="hbl_notify_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add3" [case]="'UPPER'" id="hbl_notify_add3"
                  name="hbl_notify_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add4" [case]="'UPPER'" id="hbl_notify_add4"
                  name="hbl_notify_add4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_notify_add5" [case]="'UPPER'" id="hbl_notify_add5"
                  name="hbl_notify_add5"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Export Ref.</label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_exp_ref1" [case]="'UPPER'" id="hbl_exp_ref1"
                  name="hbl_exp_ref1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_exp_ref2" [case]="'UPPER'" id="hbl_exp_ref2"
                  name="hbl_exp_ref2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_exp_ref3" [case]="'UPPER'" id="hbl_exp_ref3"
                  name="hbl_exp_ref3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Agent</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_agent_name" id="hbl_agent_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>
            <!--  -->
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Origin State</label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_origin" [case]="'UPPER'" id="hbl_origin"
                  name="hbl_origin"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Routing</label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_rout1" [case]="'UPPER'" id="hbl_rout1"
                  name="hbl_rout1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_rout2" [case]="'UPPER'" id="hbl_rout2"
                  name="hbl_rout2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_rout3" [case]="'UPPER'" id="hbl_rout3"
                  name="hbl_rout3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="hbl_rout4" [case]="'UPPER'" id="hbl_rout4"
                  name="hbl_rout4"></app-input>
              </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-6"> -->
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pre Carriage</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_pre_carriage" [case]="'UPPER'" id="hbl_pre_carriage"
                  name="hbl_pre_carriage"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Place Receipt</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_place_receipt" [case]="'UPPER'" id="hbl_place_receipt"
                  name="hbl_place_receipt"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pol</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_pol_name" [case]="'UPPER'" id="hbl_pol_name"
                  name="hbl_pol_name"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pod</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_pod_name" [case]="'UPPER'" id="hbl_pod_name"
                  name="hbl_pod_name"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Place Delivery</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_place_delivery" [case]="'UPPER'" id="hbl_place_delivery"
                  name="hbl_place_delivery"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pofd</label>
              <div class="col-sm-8">
                <app-input maxlength="50" formControlName="hbl_pofd_name" [case]="'UPPER'" id="hbl_pofd_name"
                  name="hbl_pofd_name"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Move Type</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_type_move" [case]="'UPPER'" name="hbl_type_move"
                  id="hbl_type_move"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Is Containerized</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="hbl_is_cntrized"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Frt.Status</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_frt_status_name" name="hbl_frt_status_name"
                  [dataSource]="frtList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Client.Type</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_bltype" name="hbl_bltype" [dataSource]="clientList"
                  [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Handled.By</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_handled_name" id="hbl_handled_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Sales Rep.</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_salesman_name" id="hbl_salesman_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Nature Of Goods</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_goods_nature" [case]="'UPPER'" name="hbl_goods_nature"
                  id="hbl_goods_nature"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Commodity</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_commodity" [case]="'UPPER'" name="hbl_commodity"
                  id="hbl_commodity"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">As Arranged</label>
              <div class="col-sm-8">
                <app-checkbox formControlName="hbl_is_arranged"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Obl/Telex</label>
              <div class="col-sm-8">
                <app-combobox maxlength="30" formControlName="hbl_obl_telex" name="hbl_obl_telex"
                  [dataSource]="telexList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">OBL SL#</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_obl_slno" [case]="'UPPER'" name="hbl_obl_slno"
                  id="hbl_obl_slno"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Hbl Format</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_format_name" id="hbl_format_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'hbl-format'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Draft Format</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_draft_format_name" id="hbl_draft_format_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'hbl-format'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm table-hover table-bordered table-striped table-condensed">

              <thead class="table-success">
                <tr class="table-header">
                  <th *ngIf="showModel">ID</th>
                  <th>CNTR NO</th>
                  <th>TYPE</th>
                  <th>SEAL NO</th>
                  <th>PCS</th>
                  <th>UNIT</th>
                  <th>WEIGHT</th>
                  <th>CBM</th>
                  <th *ngIf="showModel">ORDER </th>
                  <th>ADD</th>
                  <th>DELETE</th>
                </tr>
              </thead>

              <tbody formArrayName="house_cntr">
                <tr *ngFor="let iRow of formArray('house_cntr').controls; let i=index;" [formGroupName]="i">
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_id')?.value}}</label>
                  </td>
                  <td>
                    <app-input formControlName="cntr_no" [rowIndex]="i" name="cntr_no" case="UPPER"
                      maxlength="11"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_type_name" id="cntr_type_name-{{i}}" name="cntr_type_name"
                      fieldName="cntr_type" [rowIndex]="i" (CallBack)="callBack($event)" [table]="'param'"
                      [subtable]="'container-type'" [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'ID','value':'param_id'},{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_sealno" [rowIndex]="i" name="cntr_sealno" case="UPPER"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_pieces" [rowIndex]="i" name="cntr_pieces"
                      type="number"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_packages_unit_name" id="cntr_packages_unit_name-{{i}}"
                      name="cntr_packages_unit_name" fieldName="cntr_packages_unit_name" [rowIndex]="i"
                      (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                      [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'ID','value':'param_id'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_weight" [rowIndex]="i" name="cntr_weight"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_cbm" [rowIndex]="i" name="cntr_cbm" type="number"></app-input>
                  </td>
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_order')?.value}}</label>
                  </td>
                  <td align="centre" (click)="addCntr()" class="link">
                    <i class="fa fa-plus"></i>
                  </td>
                  <td align="centre" (click)="deleteRow(i)" class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row" *ngIf="formArray('house_cntr').length <= 0">
          <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-info mb-2" (click)="addCntr()">Add Container</button>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-8 form-label form-lable-sm" for="">Marks & Nos</label>
              <label class="col-sm-4 form-label form-lable-sm" for="">Pkgs</label>
            </div>
            <div class="form-group row">
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="desc_mark1" [case]="'UPPER'" name="desc_mark1"
                  id="desc_mark1"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input maxlength="100" formControlName="desc_package1" [case]="'UPPER'" name="desc_package1"
                  id="desc_package1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="desc_mark2" [case]="'UPPER'" name="desc_mark2"
                  id="desc_mark2"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input maxlength="100" formControlName="desc_package2" [case]="'UPPER'" name="desc_package2"
                  id="desc_package2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="desc_mark3" [case]="'UPPER'" name="desc_mark3"
                  id="desc_mark3"></app-input>
              </div>
              <div class="col-sm-4">
                <app-input maxlength="100" formControlName="desc_package3" [case]="'UPPER'" name="desc_package3"
                  id="desc_package3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark4" [case]="'UPPER'" name="desc_mark4"
                  id="desc_mark4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark5" [case]="'UPPER'" name="desc_mark5"
                  id="desc_mark5"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark6" [case]="'UPPER'" name="desc_mark6"
                  id="desc_mark6"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark7" [case]="'UPPER'" name="desc_mark7"
                  id="desc_mark7"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark8" [case]="'UPPER'" name="desc_mark8"
                  id="desc_mark8"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark9" [case]="'UPPER'" name="desc_mark9"
                  id="desc_mark9"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark10" [case]="'UPPER'" name="desc_mark10"
                  id="desc_mark10"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark11" [case]="'UPPER'" name="desc_mark11"
                  id="desc_mark11"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark12" [case]="'UPPER'" name="desc_mark12"
                  id="desc_mark12"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark13" [case]="'UPPER'" name="desc_mark13"
                  id="desc_mark13"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark14" [case]="'UPPER'" name="desc_mark14"
                  id="desc_mark14"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark15" [case]="'UPPER'" name="desc_mark15"
                  id="desc_mark15"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark16" [case]="'UPPER'" name="desc_mark16"
                  id="desc_mark16"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_mark17" [case]="'UPPER'" name="desc_mark17"
                  id="desc_mark17"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-8 form-label form-lable-sm" for="">Description</label>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description1" [case]="'UPPER'" name="desc_description1"
                  id="desc_description1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description2" [case]="'UPPER'" name="desc_description2"
                  id="desc_description2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description3" [case]="'UPPER'" name="desc_description3"
                  id="desc_description3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description4" [case]="'UPPER'" name="desc_description4"
                  id="desc_description4"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description5" [case]="'UPPER'" name="desc_description5"
                  id="desc_description5"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description6" [case]="'UPPER'" name="desc_description6"
                  id="desc_description6"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description7" [case]="'UPPER'" name="desc_description7"
                  id="desc_description7"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description8" [case]="'UPPER'" name="desc_description8"
                  id="desc_description8"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description9" [case]="'UPPER'" name="desc_description9"
                  id="desc_description9"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description10" [case]="'UPPER'"
                  name="desc_description10" id="desc_description10"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description11" [case]="'UPPER'"
                  name="desc_description11" id="desc_description11"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description12" [case]="'UPPER'"
                  name="desc_description12" id="desc_description12"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description13" [case]="'UPPER'"
                  name="desc_description13" id="desc_description13"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description14" [case]="'UPPER'"
                  name="desc_description14" id="desc_description14"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description15" [case]="'UPPER'"
                  name="desc_description15" id="desc_description15"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description16" [case]="'UPPER'"
                  name="desc_description16" id="desc_description16"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <app-input maxlength="100" formControlName="desc_description17" [case]="'UPPER'"
                  name="desc_description17" id="desc_description17"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group row">
              <label class="col-sm-12 form-label form-lable-sm" for="">Weight/Measurement</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Lbs</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_lbs" [type]="'number'" name="hbl_lbs" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>

              <label class="col-sm-2 form-label form-lable-sm" for="">Kgs</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_weight" [type]="'number'" name="hbl_weight" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Cft</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_cft" [type]="'number'" name="hbl_cft" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Cbm</label>
              <div class="col-sm-3">
                <app-input formControlName="hbl_cbm" [type]="'number'" name="hbl_cbm" (blur)="findUnit($event)"
                  [dec]="gs.globalConstants.global_dec_places"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pcs</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_pcs" [type]="'number'" name="hbl_pcs"
                  id="hbl_pcs"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pkgs</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_packages" [type]="'number'" name="hbl_packages"
                  id="hbl_packages"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Uom</label>
              <div class="col-sm-8">
                <auto-complete formControlName="hbl_uom_name" id="hbl_uom_name" name="hbl_uom_name"
                  fieldName="hbl_uom_name" (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'ID','value':'param_id'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label form-label-sm col-sm-4">Print KGS</label>
              <div class="col-sm-3">
                <app-checkbox formControlName="hbl_print_kgs"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
              <label class="form-label form-label-sm col-sm-2">Print LBS</label>
              <div class="col-sm-3">
                <app-checkbox formControlName="hbl_print_lbs"></app-checkbox>
                <label class="ms-1 form-label form-label-sm">Yes/No</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Clean On Board</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_clean" [case]="'UPPER'" name="hbl_clean"
                  id="hbl_clean"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Remarks</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_remark1" [case]="'UPPER'" name="hbl_remark1"
                  id="hbl_remark1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_remark2" [case]="'UPPER'" name="hbl_remark2"
                  id="hbl_remark2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_remark3" [case]="'UPPER'" name="hbl_remark3"
                  id="hbl_remark3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">By</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_by1" [case]="'UPPER'" name="hbl_by1"
                  id="hbl_by1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_by2" [case]="'UPPER'" name="hbl_by2"
                  id="hbl_by2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Issued Place</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_issued_place" [case]="'UPPER'" name="hbl_issued_place"
                  id="hbl_issued_place"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Issue Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_issued_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Orginals</label>
              <div class="col-sm-8">
                <app-input maxlength="100" formControlName="hbl_originals" type="number" name="hbl_originals"
                  id="hbl_originals"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Issue Date</label>
              <div class="col-sm-8">
                <app-date formControlName="hbl_delivery_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
      <div class="page-footer line-bottom">
        <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()"
          [disabled]="mform.invalid">Save</button>
      </div>
  </div>

  <div class="col-md-2" *ngIf="mform.get('hbl_id')?.value != 0">
    <div class="page-body line-bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-sm-12">
              <app-combobox maxlength="30" name="" [dataSource]="frtList" [valueColumn]="'key'"
                [displayColumn]="'value'" case="UPPER"></app-combobox>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <app-checkbox></app-checkbox>
              <label class="col-sm-8 form-label form-lable-sm" for="">BL New Format</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <app-checkbox></app-checkbox>
              <label class="ms-1 form-label form-label-sm">BL Backside</label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <app-checkbox></app-checkbox>
              <label class="ms-1 form-label form-label-sm">Colour</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <app-checkbox></app-checkbox>
              <label class="ms-1 form-label form-label-sm">Cntr#/Seal#</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 ">
              <button class="btn btn-sm btn-success w-100 mb-2">HBL(ORGINAL)</button>
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-success w-100 mb-2">HBL(TELEX)</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-success w-100 mb-2">HBL(DRAFT)</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-success w-100 mb-2">PRINT HBL</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-success w-100 mb-2">RIDER</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-success w-100 mb-2">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="page-footer line-bottom">
  <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()" [disabled]="mform.invalid">Save</button>
</div> -->


<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>