.wrapper {
  margin-top: 50px;
}

img {
  height: 300px;
  width: 100%;
  opacity: 0.6;
}

.caption {
  position: relative;
  color: chocolate;
  top: -200px;
  left: 20px;
  font-size: medium;
  font-weight: bold;
}

.caption h2 {
  margin-left: 20px;
}
