<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h5>{{getTitle() }}</h5>
      <button class="btn btn-success btn-sm" (click)="onNoClick()" type="button">Close</button>
    </div>

    <app-genremarkm-edit
      [inputdata]="{ id: data.id, parent_type: data.parent_type }">
    </app-genremarkm-edit>

    <div class="page-footer line-bottom">
        <button class="btn btn-sm btn-success me-2" type="button" (click)="save()">Save</button>
        <button class="btn btn-success btn-sm" (click)="onNoClick()" type="button">Close</button>
    </div>
  </div>
</div>
