<form [formGroup]="mform">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-sm-4 form-label form-label-sm" for="">Name</label>
        <div class="col-sm-8">
          <app-input type="text" [case]="'upper'" formControlName="param_name"></app-input>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-success me-1" (click)="search('SEARCH')">Search</button>
          <button class="btn btn-sm btn-success me-1" (click)="search('PRINT')">Print</button>
          <button class="btn btn-sm btn-success me-1" *ngIf="showModel" (click)="search('PDF')">PDF</button>
          <button class="btn btn-sm btn-success" *ngIf="showModel" (click)="search('EXCEL')">Excel</button>
        </div>
      </div>
    </div>
  </div>
</form>