<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h5>{{title}}</h5>
      <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/seaimport/seaimportmEdit"
        [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
      <app-history [inputdata]="{table: 'cargo_masterm', id:id}"></app-history>
      <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
    </div>

    <form [formGroup]="mform">

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Ref #</label>
              <div class="col-sm-8">
                <app-input formControlName="mbl_refno" [case]="'UPPER'" id="mbl_refno" name="mbl_refno" maxlength="15"
                  [disable]="true"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Date</label>
              <div class="col-sm-8">
                <app-date formControlName="mbl_ref_date" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Stage</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_shipment_stage_name" id="mbl_shipment_stage_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'shipstage oi'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]">
                </auto-complete>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Mbl#</label>
              <div class="col-sm-8">
                <app-input maxlength="15" formControlName="mbl_no" [case]="'UPPER'" id="mbl_no"
                  name="mbl_no"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Agent</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_agent_name" id="mbl_agent_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Carrier</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_liner_name" id="mbl_liner_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea carrier'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]">
                </auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Co-Loader</label>
              <div class="col-sm-8">
                <auto-complete formControlName="mbl_coloader_name" id="mbl_coloader_name" (CallBack)="callBack($event)"
                  [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Handled.By</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_handled_name" id="mbl_handled_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Sales Rep.</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_salesman_name" id="mbl_salesman_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'salesman'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Frt.Status</label>
              <div class="col-sm-3">
                <app-combobox maxlength="10" formControlName="mbl_frt_status_name" name="mbl_frt_status_name"
                  [dataSource]="frtList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Shipping Term</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_ship_term_name" id="mbl_ship_term_name"
                  (CallBack)="callBack($event)" [table]="'param'" [subtable]="'CARGO-MOVEMENT'"
                  [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm">Shipping Type </label>
              <div class="col-sm-3">
                <app-combobox maxlength="10" formControlName="mbl_cntr_type" name="mbl_cntr_type"
                  [dataSource]="ShiptypeList" [valueColumn]="'key'" [displayColumn]="'value'"
                  case="UPPER"></app-combobox>
              </div>
              <label class="col-sm-2 form-label form-lable-sm">Inco.Term </label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_incoterm_name" id="mbl_incoterm_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'INCOTERM'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Pol</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_pol_name" id="mbl_pol_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea-port'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETD</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_pol_etd" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Port.Discharge</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_pod_name" id="mbl_pod_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'sea-port'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETA</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_pod_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Place.Receipt</label>
              <div class="col-sm-3">
                <app-input maxlength="100" formControlName="mbl_place_delivery" [case]="'UPPER'"></app-input>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">ETA</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_pofd_eta" [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Dest.Country</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_country_name" id="mbl_country_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'country'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Vessel</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_vessel_code" id="mbl_vessel_code" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'vessel'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">Vessel Name</label>
              <div class="col-sm-3">
                <app-input formControlName="mbl_vessel_name" id="mbl_vessel_name" name="mbl_vessel_name" maxlength="50">
                </app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Voyage</label>
              <div class="col-sm-8">
                <app-input formControlName="mbl_voyage" id="mbl_voyage" name="mbl_voyage" case="UPPER" maxlength="50">
                </app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">MBL.Status</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_status_name" id="mbl_status_name" (CallBack)="callBack($event)"
                  [table]="'param'" [subtable]="'MBL-STATUS'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
              </div>
              <label class="col-sm-2 form-label form-lable-sm" for="">BL.Status</label>
              <div class="col-sm-3">
                <app-combobox maxlength="30" formControlName="mbl_is_sea_waybill" name="mbl_is_sea_waybill"
                  [dataSource]="BlStatusList" [valueColumn]="'key'" [displayColumn]="'value'"
                  case="UPPER"></app-combobox>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">OMBL.Sent.Date</label>
              <div class="col-sm-2">
                <app-date formControlName="mbl_ombl_sent_on" name="mbl_ombl_sent_on"
                  [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
              <div class="col-sm-1">
                <app-combobox maxlength="20" formControlName="mbl_ombl_sent_ampm" name="mbl_ombl_sent_ampm"
                  [dataSource]="TimeList" [valueColumn]="'key'" [displayColumn]="'value'" case="UPPER"></app-combobox>
              </div>
              <!-- </div>
            <div class="form-group row"> -->
              <label class="col-sm-2 form-label form-lable-sm" for=""> O/F.Sent.On</label>
              <div class="col-sm-3">
                <app-date formControlName="mbl_of_sent_on" name="mbl_of_sent_on"
                  [format]="gs.globalConstants.global_date_format"
                  [placeholder]="gs.globalConstants.global_date_format"></app-date>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Cargo Location</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_cargo_loc_code" id="mbl_cargo_loc_code"
                  (CallBack)="callBack($event)" [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="mbl_cargo_loc_name" id="mbl_cargo_loc_name"
                  name="mbl_cargo_loc_name" [case]="'UPPER'"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <button class="btn btn-sm btn-success w-100 mb-2">Copy To All House</button>
              </div>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_cargo_loc_add1" [case]="'UPPER'" id="mbl_cargo_loc_add1"
                  name="mbl_cargo_loc_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_cargo_loc_add2" [case]="'UPPER'" id="mbl_cargo_loc_add2"
                  name="mbl_cargo_loc_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_cargo_loc_add3" [case]="'UPPER'" id="mbl_cargo_loc_add3"
                  name="mbl_cargo_loc_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_cargo_loc_add4" [case]="'UPPER'" id="mbl_cargo_loc_add4"
                  name="mbl_cargo_loc_add4"></app-input>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for="">Devan Location</label>
              <div class="col-sm-3">
                <auto-complete formControlName="mbl_devan_loc_code" id="mbl_devan_loc_code"
                  (CallBack)="callBack($event)" [table]="'customerm'" [company_id]="getCompanyId()" [url]="url"
                  display_column="[{'caption':'CODE','value':'cust_code'},{'caption':'NAME','value':'cust_name'}]">
                </auto-complete>
              </div>
              <div class="col-sm-5">
                <app-input maxlength="100" formControlName="mbl_devan_loc_name" id="mbl_devan_loc_name"
                  name="mbl_devan_loc_name" [case]="'UPPER'"></app-input>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_devan_loc_add1" [case]="'UPPER'" id="mbl_devan_loc_add1"
                  name="mbl_devan_loc_add1"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_devan_loc_add2" [case]="'UPPER'" id="mbl_devan_loc_add2"
                  name="mbl_devan_loc_add2"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_devan_loc_add3" [case]="'UPPER'" id="mbl_devan_loc_add3"
                  name="mbl_devan_loc_add3"></app-input>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 form-label form-lable-sm" for=""></label>
              <div class="col-sm-8">
                <app-input maxlength="60" formControlName="mbl_devan_loc_add4" [case]="'UPPER'" id="mbl_devan_loc_add4"
                  name="mbl_devan_loc_add4"></app-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm  table-hover table-bordered table-striped table-condensed">
              <thead class="table-success">
                <tr class="table-header">
                  <th *ngIf="showModel">ID</th>
                  <th>CNTR NO</th>
                  <th>TYPE</th>
                  <th>SEAL NO</th>
                  <th>PCS</th>
                  <th>UNIT</th>
                  <th>WEIGHT</th>
                  <th>CBM</th>
                  <th>DISCHARGE</th>
                  <th>LFD</th>
                  <th>PICKUP</th>
                  <th>EMPTY RETURN</th>
                  <th *ngIf="showModel">ORDER </th>
                  <th>ADD</th>
                  <th>DELETE</th>
                </tr>
              </thead>

              <tbody formArrayName="master_cntr">
                <tr *ngFor="let iRow of formArray('master_cntr').controls; let i=index;" [formGroupName]="i">
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_id')?.value}}</label>
                  </td>
                  <td>
                    <app-input formControlName="cntr_no" [rowIndex]="i" name="cntr_no" case="UPPER"
                      maxlength="11"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_type_name" id="cntr_type_name-{{i}}" name="cntr_type_name"
                      fieldName="cntr_type" [rowIndex]="i" (CallBack)="callBack($event)" [table]="'param'"
                      [subtable]="'container-type'" [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_sealno" [rowIndex]="i" name="cntr_sealno" case="UPPER"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_pieces" [rowIndex]="i" name="cntr_pieces"
                      type="number"></app-input>
                  </td>
                  <td>
                    <auto-complete formControlName="cntr_packages_unit_name" id="cntr_packages_unit_name-{{i}}"
                      name="cntr_packages_unit_name" fieldName="cntr_packages_unit_name" [rowIndex]="i"
                      (CallBack)="callBack($event)" [table]="'param'" [subtable]="'unit-master'"
                      [company_id]="getCompanyId()" [url]="url"
                      display_column="[{'caption':'CODE','value':'param_code'},{'caption':'NAME','value':'param_name'}]"></auto-complete>
                  </td>
                  <td>
                    <app-input formControlName="cntr_weight" [rowIndex]="i" name="cntr_weight"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-input formControlName="cntr_cbm" [rowIndex]="i" name="cntr_cbm"
                      [dec]="gs.globalConstants.global_dec_places" type="number"></app-input>
                  </td>
                  <td>
                    <app-date formControlName="cntr_discharge_date" [rowIndex]="i" name="cntr_discharge_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_lfd" [rowIndex]="i" name="cntr_lfd"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_pick_date" [rowIndex]="i" name="cntr_pick_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td>
                    <app-date formControlName="cntr_return_date" [rowIndex]="i" name="cntr_return_date"
                      [format]="gs.globalConstants.global_date_format"
                      [placeholder]="gs.globalConstants.global_date_format"></app-date>
                  </td>
                  <td *ngIf="showModel">
                    <label>{{iRow.get('cntr_order')?.value}}</label>
                  </td>
                  <td align="centre" (click)="addCntr()" class="link">
                    <i class="fa fa-plus"></i>
                  </td>
                  <td align="centre" (click)="deleteRow(i)" class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row" *ngIf="formArray('master_cntr').length <= 0">
          <div class="col-md-12 text-center mb-2">
            <button class="btn btn-sm btn-info" type="button" (click)="addCntr()">Add Container</button>
          </div>
        </div>
      </div>

      <div class="page-body" *ngIf="mform.get('mbl_id')?.value != 0">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm table-hover table-bordered table-striped table-condensed">

              <thead class="table-success">
                <tr class="table-header">
                  <th *ngIf="showModel">ID</th>
                  <th *ngIf="gs.IsUserRightsExits('SEA-IMPORT-H')" >EDIT</th>
                  <th>HOUSE</th>
                  <th>SHIPPER</th>
                  <th>CONSIGNEE</th>
                  <th>CLIENT-CATEGORY</th>
                  <th>CLIENT-TYPE</th>
                  <th>PCS</th>
                  <th>HANDLED-BY</th>
                  <th>HBL-STATUS</th>
                  <th>FREIGHT</th>
                  <th>TERMS</th>
                  <th>AN-SENT</th>
                  <th>AN-SENT BY</th>
                  <th>AN-SENT DATE</th>
                  <th>CREATED-BY</th>
                  <th>CREATED-DATE</th>
                  <th>DELETE</th>
                </tr>
              </thead>

              <tbody formArrayName="master_house">
                <tr *ngFor="let iRow of formArray('master_house').controls; let i=index;" [formGroupName]="i">
                  <td *ngIf="showModel">
                    <label>{{iRow.get('hbl_id')?.value}}</label>
                  </td>
                  <td align="centre" *ngIf="gs.IsUserRightsExits('SEA-IMPORT-H')" [routerLink]="['/seaimport/seaimporthEdit']"
                    [queryParams]="{ id: iRow.get('hbl_id')?.value, mbl_id: mform.get('mbl_id')?.value, mode: 'edit',menuid:'SEA-IMPORT-H', type: 'SEA-IMPORT-H', appid: appid }"
                    class="link">
                    <i class="fa fa-pencil"></i>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_houseno')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_shipper_name')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_consignee_name')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_client_cat')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_client_type')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_packages')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_handled_name')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_telex_released_code')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_frt_status_name')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('hbl_ship_term_name')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('rec_created_by')?.value}}</label>
                  </td>
                  <td>
                    <label>{{iRow.get('rec_created_date')?.value | date:
                      gs.globalConstants.global_output_datetime_format}}</label>
                  </td>

                  <td align="centre" (click)="deleteHouse(i,iRow.get('hbl_houseno')?.value,iRow.get('hbl_id')?.value)"
                    class="link">
                    <i class="fa fa-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row" *ngIf=" mform.get('mbl_id')?.value != 0">
              <div class="col-md-12 text-center mb-2">
                <button *ngIf="gs.AddHouseRights('SEA-IMPORT-H')" class="btn btn-sm btn-info" type="button" routerLink="/seaimport/seaimporthEdit"
                  [queryParams]="{ id:0, mbl_id: mform.get('mbl_id')?.value, mode: 'add',menuid:'SEA-IMPORT-H', type: 'SEA-IMPORT-H', appid: appid }">
                  Add House</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>


    <div class="page-footer line-bottom">
      <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()"
        [disabled]="mform.invalid">Save</button>
    </div>
  </div>
  <div class="col-sm-2" *ngIf="mode=='edit'">
    <div class="page-body line-bottom">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-grid gap-1">
            <button class="btn btn-success btn-sm">POD</button>
            <button *ngIf="gs.IsUserRightsExits('DEVAN-INSTRUCTION')" class="btn btn-success btn-sm" routerLink="/common-shipment/devaninstEdit"
              [queryParams]="{ id:0, parent_id: mform.get('mbl_id')?.value,parent_type: mform.get('mbl_mode')?.value, mode: 'add',menuid:'DEVAN-INSTRUCTION', type: 'DEVAN-INSTRUCTION', appid: appid}">DEVANING INSTRUCTION</button>
            <button class="btn btn-success btn-sm">AR & AP</button>
            <button class="btn btn-success btn-sm">PROFIT REPORT</button>
            <button class="btn btn-success btn-sm">SHIPMENT LABEL</button>
            <button *ngIf="gs.IsUserRightsExits('MESSENGER-SLIP')" class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/messengerslipDetList"
              [queryParams]="{id : 0 ,mode:'add', menuid:'MESSENGER-SLIP', type:'MESSENGER-SLIP', appid: appid,
              parent_id: mform.get('mbl_id')?.value,parent_type:mform.get('mbl_mode')?.value}">MESSENGER SLIP</button>
            <button class="btn btn-success btn-sm">PAYMENT REQUEST</button>
            <app-fileupload *ngIf="gs.IsUserRightsExits('FILE-UPLOAD')"
              [inputdata]="{mode:'add', id:id, parent_type: 'SEA IMPORT',
              rec_files_count: mform.get('rec_files_count')?.value, rec_files_attached: mform.get('rec_files_attached')?.value}"></app-fileupload>
            <button *ngIf="gs.IsUserRightsExits('FOLLOWUP')" class="btn btn-success btn-sm" type="button" routerLink="/common-shipment/followupEdit"
              [queryParams]="{id : 0 ,mode:'add', menuid:'FOLLOWUP', type:'FOLLOWUP', appid: appid, parent_id: mform.get('mbl_id')?.value, parent_type:mform.get('mbl_mode')?.value}">ADD
              TO FOLLOW UP</button>
            <button *ngIf="gs.IsUserRightsExits('MEMO')" class="btn btn-sm"
              [ngClass]="(mform.get('rec_memo_attached')?.value === 'Y') ? 'btn-danger' : 'btn-success'" routerLink="/common-shipment/memoEdit"
              [queryParams]="{ id:0, parent_id: mform.get('mbl_id')?.value,parent_type:'SEAIMP-CNTR-MEMO', mode: 'add',menuid:'MEMO', type: 'MEMO', appid: appid}">INTERNAL MEMO
              <span *ngIf="!!mform.get('rec_memo_count')?.value">({{ mform.get('rec_memo_count')?.value }})</span> </button>
            <button class="btn btn-success btn-sm">REQUEST FOR APPROVAL</button>
            <button *ngIf="gs.IsUserRightsExits('DELIVERY-ORDER')" class="btn btn-success btn-sm" routerLink="/common-shipment/deliveryorderEdit"
              [queryParams]="{parent_id:mform.get('mbl_id')?.value, parent_type:'SEA-IMPORT-M',menuid:'DELIVERY-ORDER', type: 'DELIVERY-ORDER', appid: appid }">DELIVERY
              ORDER</button>
            <button class="btn btn-success btn-sm">PRODUCT</button>
            <button *ngIf="bAdd || bEdit" class="btn btn-success btn-sm" (click)="save()"
              [disabled]="mform.invalid">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>