<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-success btn-sm" routerLink="/accounts/accgroupEdit"
    [queryParams]="{id :0,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<div class="page-search">
  <app-accgroup-search [input]="ms.getSearchRecord()" (searchResult)="search($event)"></app-accgroup-search>
</div>

<div class="page-pagination">
  <app-page [page]="ms.getPageRecord()" (pageEvents)="pageEvents($event)"></app-page>
</div>

<div class="page-body">

  <app-table [table]="table_data" [data]="ms.getRecords()" (callback_table)="callback_table($event)"
    [sort_column]="ms.sortColumn" [sort_order]="ms.sortOrder" [row_id_name]="'grp_id'" [selected_id]="ms.selectedRow">
  </app-table>

</div>

<div class="page-pagination line-bottom">
  <app-page [page]="ms.getPageRecord()" (pageEvents)="pageEvents($event)"></app-page>
</div>