<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-sm btn-success" (click)="save()">Re-Update</button>
  <button class="btn btn-success btn-sm" (click)="changeFormat()">Toggle Format</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<div class="page-search">
  <app-settings-search [search_url]="'/api/user/GetListAsync'" [search_url]="'/api/settings/GetListAsync'"
    [input]="ms.getSearchRecord()" (searchResult)="search($event)"></app-settings-search>
</div>

<div class="page-pagination">
  <app-page [search_url]="'/api/user/GetListAsync'" [search_url]="'/api/settings/GetListAsync'"
    [page]="ms.getPageRecord()" (pageEvents)="pageEvents($event)"></app-page>
</div>


<div class="page-body">

  <ng-container>

    <ng-container *ngIf="format=='READ'">
      <app-table [table]="table_data" [data]="ms.getRecords()" (callback_table)="callback_table($event)"
        [delete_url]="'/api/user/DeleteAsync'" [delete_url]="'/api/settings/DeleteAsync'" [sort_column]="ms.sortColumn"
        [sort_order]="ms.sortOrder" [row_id_name]="'id'" [selected_id]="ms.selectedRow">
      </app-table>
    </ng-container>

    <ng-container *ngIf="format=='WRITE'">
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered table-striped table-condensed">
          <thead class="table-success">
            <tr class="table-header">
              <th>CAPTION</th>
              <th>VALUE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec  of ms.getRecords()" (click)="selectRow(rec)"
              [ngClass]="{'table-info' : rec.id == selected_row_id }">
              <td>{{rec.caption}}</td>
              <td>
                <app-settings-edit [sappid]="appid" [smenuid]="menuid" [stype]="type" [rec]="rec"></app-settings-edit>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="page-pagination">
  <app-page [search_url]="'/api/user/GetListAsync'" [search_url]="'/api/settings/GetListAsync'"
    [page]="ms.getPageRecord()" (pageEvents)="pageEvents($event)"></app-page>
</div>