<div class="page-header">
  <h5>{{title}}</h5>
  <button *ngIf="bAdd" class="btn btn-sm btn-success" routerLink="/tnt/trackEdit"
    [queryParams]="{id :0, _id:id+1,mode:'add',menuid:menuid,type:type,appid:appid}">New</button>
  <button class="btn btn-success btn-sm" (click)="return2Parent()">Return</button>
</div>

<form [formGroup]="mform">

  <div class="page-body bottom-line">


    <div class="row">

      <div class="col-sm-6">

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Booking#</label>
          <div class="col-sm-8">
            <app-input maxlength="100" formControlName="track_book_no" [case]="'UPPER'"></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Container#</label>
          <div class="col-sm-8">
            <app-input [maxlength]="11" formControlName="track_cntr_no" [case]="'UPPER'" required></app-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 form-label form-lable-sm" for="">Carrier</label>
          <div class="col-sm-8">
            <auto-complete formControlName="track_carrier_name" (CallBack)="callBack($event)" [table]="'param'"
              [subtable]="'SEA CARRIER'" [company_id]="getCompanyId()" [url]="url"
              display_column="[{'caption':'code','value':'param_id'},{'caption':'name','value':'param_name'}]"
              required></auto-complete>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="form-group row">
          <div class="col-sm-12">
            <button *ngIf="bAdd || bEdit" class="btn btn-sm btn-success" (click)="save()"
              [disabled]="mform.invalid">Save</button>
          </div>
        </div>

        <div class="form-group row mt-1">
          <div class="col-sm-12">
            <button *ngIf="mode=='edit'" class="btn btn-sm btn-success" (click)="loadTrackingDetails()"
              [disabled]="mform.invalid">Refresh</button>
          </div>
        </div>


      </div>


    </div>

  </div>




  <div class="page-body line-bottom">

    <div class="row">

      <div class="col-sm-12">

        <table class="table table-sm table-hover table-bordered table-condensed hand-cursor">
          <thead class="table-success">
            <tr class="table-header">
              <!-- <th>Transport-Mode</th> -->
              <!-- <th>Status-Code</th> -->
              <th>Status</th>
              <th>Port-Code</th>
              <!-- <th>Port-Name</th> -->
              <th>Location</th>
              <th>Date</th>
              <th>Act/Est</th>
              <th>Vessel</th>
              <th>IMO</th>
              <th>Voyage</th>
              <!-- <th>type</th> -->
            </tr>
          </thead>

          <tbody formArrayName="tracking_data">
            <tr [ngClass]="{
            'table-success': iRow.get('tnt_row_type')?.value == 'POL' || iRow.get('tnt_row_type')?.value == 'POD',
            'table-info' : iRow.get('tnt_row_type')?.value == 'VESSEL'
          }" *ngFor="let iRow of formArray('tracking_data').controls; let i=index;" [formGroupName]="i">
              <!-- <td> {{iRow.get('tnt_transport_mode')?.value }}</td> -->
              <!-- <td> {{iRow.get('tnt_status_code')?.value }}</td> -->
              <td> {{iRow.get('tnt_status_name')?.value }}</td>
              <td> {{iRow.get('tnt_port_code')?.value }}</td>
              <!-- <td> {{iRow.get('tnt_port_name')?.value }}</td> -->
              <td> {{iRow.get('tnt_port_location')?.value }}</td>
              <td> {{iRow.get('tnt_date')?.value }}</td>
              <td> {{iRow.get('tnt_event_type')?.value }}</td>
              <td> {{iRow.get('tnt_vessel')?.value }}</td>
              <td> {{iRow.get('tnt_vessel_imon')?.value }}</td>
              <td> {{iRow.get('tnt_voyage')?.value }}</td>
              <!-- <td> {{iRow.get('tnt_row_type')?.value }}</td> -->
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>




</form>







<div *ngIf="showModel">
  <pre>
    {{mform.value | json}}
  </pre>
</div>
