/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

/*
Added by Angular Material
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*/

.router {
  margin-top: 62px;

}



.table {
  font-size: 10px;
}

.table-header {
  color: chocolate;
  font-size: 9px;
}

label {
  font-size: 11px;
}

.error-text {
  font-size: smaller;
  color: chocolate;
}

.link {
  cursor: pointer;
  color: chocolate;
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.line-bottom {
  border-bottom: 1px solid lightgray !important;
}

.page-header {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap: 4px;
  color: chocolate;
  margin: 65px 2px 0px 1px;
  padding: 10px 6px 6px 6px;

  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-header h5 {
  font-size: 14px;
  font-weight: 500;
}

.page-search {
  margin: 0px 2px 0px 1px;
  padding: 6px 4px 6px 4px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-body {
  margin: 0px 2px 0px 1px;
  padding: 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-footer {
  display: flex;
  justify-content: center;
  margin: 0px 2px 0px 1px;
  padding: 6px;
  gap: 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-pagination {
  cursor: pointer;
  margin: 0px 2px 0px 1px;
  padding: 2px 2px 2px 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

i {
  color: darkorange;
}


.pagination {
  margin-bottom: 0px !important;
  padding: 2px !important;
}

.page-link {
  color: chocolate !important;
  font-weight: bold !important;
  font-size: 9px !important;
}


.btn {
  box-shadow: 4px 4px 10px 0px lightgray;
}