/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  color: #6e768e !important;

}




.router {
  /* margin-top: 62px; */
  margin-top: 75px;
}

.table {
  font-size: 10px;
}

.table-header {
  color: chocolate;
  font-size: 9px;
}

label {
  font-size: 11px;
}

.error-text {
  font-size: smaller;
  color: chocolate;
}

.link {
  cursor: pointer;
  color: chocolate;
  text-decoration: underline;
}

.hand-cursor {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.line-bottom {
  border-bottom: 1px solid lightgray !important;
}

.page-header {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap: 4px;
  color: chocolate;
  margin: 2px 2px 0px 1px;
  padding: 10px 6px 6px 6px;

  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-header h5 {
  font-size: 14px;
  font-weight: 500;
}

.page-search {
  margin: 0px 2px 0px 1px;
  padding: 6px 4px 6px 4px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-body {
  margin: 0px 2px 0px 1px;
  padding: 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-footer {
  display: flex;
  justify-content: center;
  margin: 0px 2px 0px 1px;
  padding: 6px;
  gap: 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.page-pagination {
  cursor: pointer;
  margin: 0px 2px 0px 1px;
  padding: 2px 2px 2px 2px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

i {
  color: darkorange;
}

.pagination {
  margin-bottom: 0px !important;
  padding: 2px !important;
}

.page-link {
  color: chocolate !important;
  font-weight: bold !important;
  font-size: 9px !important;
}

.btn {
  box-shadow: 4px 4px 10px 0px lightgray;
}



.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}








/* Scrollbar styles for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Background of the scrollbar track */

}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Roundness of the scrollbar thumb */
  border: 2px solid #f1f1f1;
  /* Padding around the scrollbar thumb */

}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
  /* Color of the scrollbar thumb when hovered */
}